<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loteria mexicana</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
</head>

<body>

    <h1>Loteria Mexicana | Linhas: {{linhas}} | Colunas: {{colunas}} | {{explica_cores}}</h1>

    <div class="container">
        {% for line in range (linhas): %}
        <div class="box_wrap">
            {% for column in range (colunas): %}
            {% set cor = (line + column) % quantas_cores %}
            {% set cor_text = 'white' if cores[cor] == '#000000' else 'black' %}
            <div class="box" style="background-color: {{ cores[cor] }}; color: {{cor_text}}"> {{ display[(line) * (colunas) + (column)] }} </div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>

    <script type="text/javascript" src="{{ url_for('static', filename='js/mi_script.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-3.7.1.min.js') }}"></script>
</body>

</html>