
body {
    font-family: Arial;
}

h1 {
    text-align: center;
}

#alerta {
    color: red;
    margin: 50px;
}

.explicacao {
    margin: 30px;
}

.destaque {
    text-decoration: underline;
    color: red;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.box {
    aspect-ratio: 1/1.6;
    flex-shrink: 1;
    border: 1px solid white;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}